.welcome-text{
    margin-bottom: 30px;
}

.welcome-text-first{
    color: #000;
    font-family: "Acumin Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
}

.welcome-text-secondary{
    color: #F15D2A;
    font-family: "Acumin Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}


  
 